 <app-header></app-header>
<div class="fee-container">
  <h2>Application Fee</h2>
  <h3 class="highlight">B.Tech</h3>

  <div class="fee-box">
    <h4>PAYMENT OF APPLICATION FEE BY CREDIT CARD / DEBIT CARD / NET BANKING / UPI</h4>
    <p>
      You can make payment through Visa/Master Credit cards (Not International credit cards)
      issued by any bank. This facility is provided through the PayU Payment Gateway.
    </p>
    <p>
      Please read the following carefully. If you agree, please click on the 'I agree and Pay now' button below.
    </p>
    <p><strong>Amount to be Paid Rs.1/-</strong></p>

    <p>You will then be directed to the payment gateway server...</p>

    <p><strong>Note:</strong></p>
    <ol>
      <li>Registration page does not collect any credit card details...</li>
      <li>If the payment is successful and received by PES University...</li>
      <li>If the link fails or you receive any error...</li>
    </ol>

    <p>In case of payment issues, contact: <a href="mailto:admissionsupport@pes.edu">admissionsupport.edu</a></p>

    <button class="pay-btn" (click)="onPayNow()">I Agree and Pay now</button>
  </div>
</div>
