<div class="fixed-header-container">
  <!-- TOP BAR -->
  <div class="top-bar">
    <div class="top-bar-content">

    </div>
  </div>

<div class="note-main-container">
  <header class="header">
    <div class="header-content">
      <img src="assets/pesulogoNew.png" alt="PES University Logo" class="logo-img" />
      <button class="home-button" routerLink="/" >HOME</button>
    </div>
  </header>
  <div class="note-title-bar">
    <span>Note</span>
  </div>
  <div class="note-content-section">
    <div class="note-card">
      <ul>
        <li><b>B.Tech</b>
          <ul>
            <li>PESU will use only JEE Main and KCET scores from 2025 for B.Tech Admissions</li>
            <li>For Higher Fee Category / Management / NRI / PIO / OCI / Sponsored Seats, please contact the Office of Admissions at PES University or write to
              <a href="mailto:admissions&#64;pes.edu" style="color: #000000;font-weight: 400;text-decoration-line: none;">admissions&#64;pes.edu</a>
            </li>
            <li>PESSAT (PES Scholastic Aptitude Test) will no longer be held from the Academic Year 2025 for B.Tech</li>
          </ul>
        </li>
        <li><b>MBBS</b>
          <ul>
            <li>All the admissions process will be through KCET counseling based on the NEET scores of the candidate</li>
            <li>Candidates can register through <a href="https://admissions.pes.edu/" target="_blank">https://admissions.pes.edu/</a> for the MBBS program so that PES University may keep in touch with these candidates regarding their admissions timelines and developments in the University</li>
            <li>This registration for MBBS on <a href="https://admissions.pes.edu/" target="_blank">https://admissions.pes.edu/</a> is free of cost</li>
          </ul>
        </li>
        <li>If a candidate is interested to apply for two or more courses, then he/she needs to register for those courses separately from <a href="https://admissions.pes.edu/" target="_blank">https://admissions.pes.edu/</a> by paying the registration fee separately for each</li>
        <li>Candidates who have already registered by giving basic information and left without completing the payment need not start from beginning. Such candidates can sign in using their email id as username and the password that was created by the during filling of basic information and complete the balance process of payment and final registration</li>
        <li>The admissions test centre for courses at PES University Ring Road Campus and Electronic City Campus will be only at PES University Ring Road Campus.</li>
        <li>Although B.Tech, BBA, B.Com are offered at both Ring Road campus and Electronic city campus, the admission process will be the same. For B.Tech, campus will be allotted based on the merit of the candidate. For BBA, B.Com, candidates can choose the campus of their choice while registering for admissions on the application form and the same campus will be allotted after the candidate takes & qualifies in the admissions process</li>
        <li>Admissions for Law courses (BBA,LLB/ BA,LLB – All Honors programs) can be done through either CLAT/ LSAT scores. However, registration through <a href="https://admissions.pes.edu/" target="_blank">https://admissions.pes.edu/</a> and payment of online registration fee of Rs. 1200 is mandatory even if admission is done through CLAT/ LSAT scores</li>
        <li>Admissions for B.Arch course will be through the NATA scores. However, registration through <a href="https://admissions.pes.edu/" target="_blank">https://admissions.pes.edu/</a> is mandatory after which the candidate can upload the NATA score on our website when the NATA scores are announced.</li>
        <li>Admission for M.Tech will be primarily done for 2 branches, which are, Electronics & Communications Engineering and Computer Science & Engineering. However, after admission, the student would be provided with specialization options under each branch. For information regarding specializations under each branch given above, refer the link <a href="http://pes.edu/programs/" target="_blank">http://pes.edu/programs/</a></li>
      </ul>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-row">
        <div class="footer-col">
          <img alt="PES University" class="footer-logo" src="assets/pesulogoNew.png" />
          <ul class="footer-links">
            <li>
              <a href="mailto:admissionsupport&#64;pes.edu">
                <span class="footer-text">admissionsupport&#64;pes.edu</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-col">
          <ul class="social-list">
            <li>
              <a href="https://instagram.com/pesuniversity/" target="blank">
                <i class="social-icon instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/pesuniversity/" target="blank">
                <i class="social-icon twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://facebook.com/pesuniversity/" target="blank">
                <i class="social-icon facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/school/pesuniversity" target="blank">
                <i class="social-icon linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/pesuniversity" target="blank">
                <i class="social-icon youtube"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-row">
        <div class="footer-col">
          <!-- Empty space for alignment -->
        </div>
        <div class="footer-col">
          <span class="footer-copyright">&copy; 2025 PES University</span>
        </div>
      </div>
    </div>
  </footer>
</div>
